@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Quantico&display=swap");

:root {
  --smoothblack: #272b32;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.game-container {
  margin: 0px auto;
  border: 10px solid #e5e5e5;
  width: 320px;
  padding: 10px;
  margin-top: 150px;
  background: linear-gradient(#eeee, #fff);
}

.inputs-container {
  text-align: center;
  margin-bottom: 20px;
}

#num {
  outline: none;
  border: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-right: 4px;
}

#sub {
  padding: 11px;
  border: none;
  border: 1px solid;
  border-radius: 4px;
  background: linear-gradient(#da722d, #b7723a);
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.title-container {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  letter-spacing: -1px;
  background: linear-gradient(#d5793d, #b7723a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.title-container:after {
  content: "";
  width: 215px;
  height: 1.5px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.numbers {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

#render-result {
  margin-top: 80px;
  font-weight: 700;
  text-align: center;
  height: 20px;
  color: #d5793d;
  font-size: 17px;
}

.rematch-btn-container {
  display: flex;
  justify-content: center;
  margin-top: -25px;
  margin-bottom: 60px;
  height: 39px;
}

#rematch-btn {
  display: block;
  background-image: linear-gradient(#4c5058, #9c9c9c);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.199);
  cursor: pointer;
  display: none;
}

.btn-phrase {
  vertical-align: middle;
  padding-right: 2px;
  color: #fff;
}

.led-numbers .numbers::before,
.led-numbers .minute::before {
  top: 80px;
}

.led-numbers .numbers::after,
.led-numbers .minute::after {
  top: 180px;
}

.led-numbers svg {
  display: inline-block;
  margin: 5px;
}

.led-numbers svg .segment {
  fill: rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.led-numbers svg.num-1 .b,
.led-numbers svg.num-1 .c,
.led-numbers svg.num-2 .a,
.led-numbers svg.num-2 .b,
.led-numbers svg.num-2 .d,
.led-numbers svg.num-2 .e,
.led-numbers svg.num-2 .g,
.led-numbers svg.num-3 .a,
.led-numbers svg.num-3 .b,
.led-numbers svg.num-3 .c,
.led-numbers svg.num-3 .d,
.led-numbers svg.num-3 .g,
.led-numbers svg.num-4 .b,
.led-numbers svg.num-4 .c,
.led-numbers svg.num-4 .f,
.led-numbers svg.num-4 .g,
.led-numbers svg.num-5 .a,
.led-numbers svg.num-5 .c,
.led-numbers svg.num-5 .d,
.led-numbers svg.num-5 .f,
.led-numbers svg.num-5 .g,
.led-numbers svg.num-6 .a,
.led-numbers svg.num-6 .c,
.led-numbers svg.num-6 .d,
.led-numbers svg.num-6 .e,
.led-numbers svg.num-6 .f,
.led-numbers svg.num-6 .g,
.led-numbers svg.num-7 .a,
.led-numbers svg.num-7 .b,
.led-numbers svg.num-7 .c,
.led-numbers svg.num-8 .a,
.led-numbers svg.num-8 .b,
.led-numbers svg.num-8 .c,
.led-numbers svg.num-8 .d,
.led-numbers svg.num-8 .e,
.led-numbers svg.num-8 .f,
.led-numbers svg.num-8 .g,
.led-numbers svg.num-9 .a,
.led-numbers svg.num-9 .b,
.led-numbers svg.num-9 .c,
.led-numbers svg.num-9 .d,
.led-numbers svg.num-9 .f,
.led-numbers svg.num-9 .g,
.led-numbers svg.num-0 .a,
.led-numbers svg.num-0 .b,
.led-numbers svg.num-0 .c,
.led-numbers svg.num-0 .d,
.led-numbers svg.num-0 .e,
.led-numbers svg.num-0 .f {
  fill: var(--smoothblack);
}

#second-number,
#third-number {
  display: none;
  text-align: center;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  padding-right: 2px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}